h1 {
    color: brown;
    background-color: beige;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: red;
    background-color: orange;
    font-size: 20px;
    border-color: red;
    border-bottom-style: solid;
    padding: 10px;
}

body {
    margin: 70px;
}

ul{
    padding-left: 20px;
}

.pStyle {
    font-weight: bold;
}